*{
    font-size: 'Open Sans';
    margin: 0;
    padding: 0;
}
body{
    margin-left: 10%;
}
/* body:not(header){
    margin-left: 15%;
} ??????????????????????????????????*/
 header{
    background-color: #4ea1ff;
    background-image: url("img/pattern.png");
    background-size: 40%;
    height: 120px;
    margin-left: 0;
    position: relative;
} 
/* header:not(div){
    opacity: 0.2;
} 
Y U NO WORK?????
*/

div > img{
    height: 50%;
    position: absolute;
    left: 15%;
    bottom: 10%;
}
#titolo{
    font-weight: bolder;
    font-size: 50px;
}
#cit{
    font-size: 20px;
    font-weight: bold;
    opacity: 0.6;
}
#cit > span{
    color: rgb(35, 119, 245);
}
#datacit{
    opacity: 0.6;
}