*{
    font-family: 'Rubik', sans-serif;
    margin: 0;
}
 header{
    background-color: #4ea1ff;
    background-image: url("img/pattern.png");
    background-size: 35%;
    height: 100px;
    margin-left: 0;
    position: relative;
} 
/* header:not(div){
    opacity: 0.2;
} 
Y U NO WORK?????
PROF!!! NON MI FUNZIONA
*/

div > img{
    height: 50%;
    position: absolute;
    left: 10%;
    bottom: 10%;
}
section,nav, footer{
    margin-top:20px;
    margin-left: 10%;
    margin-right: 10%;

}

#titolo{
    font-weight: bolder;
    font-size: 50px;
}
#cit{
    font-size: 20px;
    font-weight: bold;
    opacity: 0.6;
}
#cit > a:link{
    color: rgb(35, 119, 245);
    text-decoration: none;
}
#cit > a:visited{
    color: rgb(35, 119, 245);
    text-decoration: none;
}
#cit > a:hover{
    color: rgb(16, 57, 119);
}

#datacit{
    opacity: 0.6;
}

.elon{
    height: 300px;
    width: auto;
}

section > span{
    background-color: yellow;
}
table{
    border: none;
}
th{
    text-align: left;
    color: white;
    background-color: #20a9e5;
}
td{
    height: 50px;
    width: 20%;
}
td:nth-last-child(1){
    width: 100%;
}
tr:nth-child(2){
    background-color: #b1e5f2;
}
tr:nth-last-child(1){
    background-color: #b1e5f2;
}
section > h3{
    opacity: 0.6;
}
.imm{
    height: 30%;
    width: auto;
    margin-top: 10px;
    background-size: contain;
    background-repeat: no-repeat;
}
.imm > div{
    background-color: rgba(0, 0, 0, 0.377);
}
.imm > a:link{
    color: rgb(0, 0, 0);
}
.imm > a:visited{
    color: rgb(0, 0, 0);
}
.imm > a:hover{
    color: rgb(0, 0, 0);
}
.crack{
    background-image: url('img/Bitcoin-Elon-Musk-640x360.jpg');
}
.dance{
    background-image: url('img/dance.jpg');
}
div > div{
    color: white;
    font-size: 200%;
    position: absolute;
    margin-left: 10px;
    margin-top: 15px;
}

footer{
    text-align: end;
    margin-bottom: 5%;
}